* {
  box-sizing: border-box;
  margin: 0px;
}

.body {
}
.mainContainer {
  height: 100dvh;
  display: grid;
  grid-template-rows: 13% 2% 85%;
}

.header {
  background-color: #fbc20b;
}

.mainContent {
  background-color: grey;
  padding: 5px;
}

.calculationContainer {
  background-color: black;
  height: 100%;
  display: grid;
  grid-template-rows: 40% 5% 15% 40%;
}

.inputCalculated {
  display: grid;
  grid-template-columns: 60% 40%;
}

.input {
  background-color: lightpink;
}

.calculated {
  background-color: black;
}

.collapseButton {
  background-color: lightskyblue;
}

.breakeven {
  background-color: lightcyan;
}

.profitLoss {
  background-color: lightgoldenrodyellow;
}
