* {
  box-sizing: border-box;
  margin: 0px;
}

.body {
}
.mainContainer {
  height: 100dvh;
  display: grid;
  grid-template-rows: 11% 4% 85%;
}

.header {
  background-color: #fbc20b;
}

.mainContent {
  background-color: grey;
  padding: 5px;
}

.calculationContainer {
  background-color: black;
  height: 100%;
  display: grid;
  grid-template-rows: 40% 5% 15% 40%;
}

.inputCalculated {
  display: grid;
  grid-template-columns: 60% 40%;
}

.input {
  background-color: lightpink;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding: 30px; */
}

.section1,
.section2,
.section3 {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}

.section1,
.section2,
.section3 {
  gap: 20px;
}

.section1 > *,
.section2 > *,
.section3 > * {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

input,
label {
  display: inline;
}

.calculated {
  background-color: lightsalmon;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  align-items: center;
}

.collapseButton {
  background-color: lightskyblue;
}

.breakeven {
  background-color: lightcyan;
}

.profitLoss {
  background-color: lightgoldenrodyellow;
}
